*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: medium "Poppins", sans-serif;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #faf6f6;
  color: #2a2c2c;
}

.Contact {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.Title {
  margin-top: 0;
}

.Link {
  text-decoration: none;
  color: #135dbe;

  &:hover {
    box-shadow: 0 2px 0 0 currentColor;
  }
}
